<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scheduleDownloadDuration</key>
	<real>3</real>
	<key>SDUsername</key>
	<string></string>
	<key>recordedProgramsLocation</key>
	<string></string>
	<key>transcodedProgramsLocation</key>
	<string></string>
	<key>transcodePrograms</key>
	<true/>
	<key>transcodePreset</key>
	<string>iPod Low-Rez</string>
	<key>deleteRecordingsAfterTranscode</key>
	<true/>
	<key>addTranscodingsToiTunes</key>
	<true/>
	<key>deleteTranscodingsAfterAdd</key>
	<true/>
</dict>
</plist>
