<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MKV file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>1</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's settings for cartoons, anime, and CGI.</string>
		<key>PresetName</key>
		<string>Animation</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1000</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=5:mixed-refs:bframes=6:bime:weightb:b-rdo:direct=auto:b-pyramid:me=umh:subme=5:analyse=all:8x8dct:trellis=1:nr=150:no-fast-pskip:filter=2,2</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's settings for the AppleTV. Provides a good balance between quality and file size, and optimizes performance.</string>
		<key>PresetName</key>
		<string>AppleTV</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>2</integer>
		<key>VideoAvgBitrate</key>
		<string>2500</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>bframes=3:ref=1:subme=5:me=umh:no-fast-pskip=1:trellis=2:cabac=0</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AC-3 Audio</string>
		<key>FileFormat</key>
		<string>MKV file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's settings maxed out for slowest encoding and highest quality. Use at your own risk. So slow it's not just insane...it's a trip to the looney bin.</string>
		<key>PresetName</key>
		<string>Bedlam</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1800</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=16:mixed-refs:bframes=6:bime:weightb:b-rdo:direct=auto:b-pyramid:me=umh:subme=7:me-range=64:analyse=all:8x8dct:trellis=2:no-fast-pskip:no-dct-decimate:filter=-2,-1</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>128</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>MPEG-4 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>512</integer>
		<key>PresetDescription</key>
		<string>HandBrake's preset for impatient people who don't care about picture quality.</string>
		<key>PresetName</key>
		<string>Blind</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>512</string>
		<key>VideoEncoder</key>
		<string>FFmpeg</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>0</integer>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string></string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>128</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>640</integer>
		<key>PresetDescription</key>
		<string>HandBrake's preset for people without a lot of money to waste on hard drives. Tries to maximize quality for burning to CDs, so you can party like it's 1999.</string>
		<key>PresetName</key>
		<string>Broke</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1600</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>0</integer>
		<key>VideoTargetSize</key>
		<string>695</string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=3:mixed-refs:bframes=6:bime:weightb:b-rdo:b-pyramid:direct=auto:me=umh:subme=6:trellis=1:analyse=all:8x8dct:no-fast-pskip</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>0</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>MPEG-4 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's traditional, faster, lower-quality settings.</string>
		<key>PresetName</key>
		<string>Classic</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1000</string>
		<key>VideoEncoder</key>
		<string>FFmpeg</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string></string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AC-3 Audio</string>
		<key>FileFormat</key>
		<string>MKV file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's preset for consistently excellent quality in one pass, with the downside of entirely unpredictable file sizes and bitrates.</string>
		<key>PresetName</key>
		<string>Constant Quality Rate</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>2000</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.64709997177124023</real>
		<key>VideoQualityType</key>
		<integer>2</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>0</integer>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>ref=3:mixed-refs:bframes=3:b-pyramid:b-rdo:bime:weightb:filter=-2,-1:subme=6:trellis=1:analyse=all:8x8dct:me=umh</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AC-3 Audio</string>
		<key>FileFormat</key>
		<string>MKV file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's preset for true high profile x264 quality. A good balance of quality and speed, based on community standards found in the wild. This preset will give you a much better sense of x264's capabilities than vanilla main profile.</string>
		<key>PresetName</key>
		<string>Deux Six Quatre</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1600</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=5:mixed-refs:bframes=3:bime:weightb:b-rdo:b-pyramid:me=umh:subme=7:trellis=1:analyse=all:8x8dct:no-fast-pskip</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AC-3 Audio</string>
		<key>FileFormat</key>
		<string>MKV file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's preset for feature films.</string>
		<key>PresetName</key>
		<string>Film</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>2000</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=3:mixed-refs:bframes=3:bime:weightb:b-rdo:direct=auto:b-pyramid:me=umh:subme=6:analyse=all:8x8dct:trellis=1:no-fast-pskip</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>128</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>480</integer>
		<key>PresetDescription</key>
		<string>HandBrake's settings for the iPhone.</string>
		<key>PresetName</key>
		<string>iPhone / iPod Touch</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>960</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 iPod)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>cabac=0:ref=1:analyse=all:me=umh:subme=6:no-fast-pskip=1:trellis=1</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>640</integer>
		<key>PresetDescription</key>
		<string>HandBrake's high resolution settings for the iPod. Good video quality, great for viewing on a TV using your iPod</string>
		<key>PresetName</key>
		<string>iPod High-Rez</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1500</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 iPod)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>keyint=300:keyint-min=30:bframes=0:cabac=0:ref=1:vbv-maxrate=1500:vbv-bufsize=2000:analyse=all:me=umh:subme=6:no-fast-pskip=1</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>320</integer>
		<key>PresetDescription</key>
		<string>HandBrake's low resolution settings for the iPod. Optimized for great playback on the iPod screen, with smaller file size.</string>
		<key>PresetName</key>
		<string>iPod Low-Rez</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>700</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 iPod)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>keyint=300:keyint-min=30:bframes=0:cabac=0:ref=1:vbv-maxrate=768:vbv-bufsize=2000:analyse=all:me=umh:subme=6:no-fast-pskip=1</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>1</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's normal, default settings.</string>
		<key>PresetName</key>
		<string>Normal</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1500</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=2:bframes=2:subme=5:me=umh</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's settings for the Sony PlayStation 3.</string>
		<key>PresetName</key>
		<string>PS3</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>2</integer>
		<key>VideoAvgBitrate</key>
		<string>2500</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>level=41:subme=5:me=umh</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>128</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>MPEG-4 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<string>208</string>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<string>368</string>
		<key>PresetDescription</key>
		<string>HandBrake's settings for the Sony PlayStation Portable.</string>
		<key>PresetName</key>
		<string>PSP</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1024</string>
		<key>VideoEncoder</key>
		<string>FFmpeg</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string></string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>1</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's high quality settings for use with QuickTime. It can be slow, so use it when the Normal preset doesn't look good enough.</string>
		<key>PresetName</key>
		<string>QuickTime</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>2000</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=3:mixed-refs:bframes=3:bime:weightb:b-rdo:direct=auto:me=umh:subme=5:analyse=all:8x8dct:trellis=1:no-fast-pskip</string>
	</dict>
	<dict>
		<key>AudioBitRate</key>
		<string>160</string>
		<key>AudioSampleRate</key>
		<string>48</string>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<integer>0</integer>
		<key>FileCodecs</key>
		<string>AVC/H.264 Video / AAC Audio</string>
		<key>FileFormat</key>
		<string>MKV file</string>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeinterlace</key>
		<integer>1</integer>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PicturePAR</key>
		<integer>0</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetDescription</key>
		<string>HandBrake's settings for video from television.</string>
		<key>PresetName</key>
		<string>Television</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>1300</string>
		<key>VideoEncoder</key>
		<string>x264 (h.264 Main)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoQualitySlider</key>
		<real>0.5</real>
		<key>VideoQualityType</key>
		<integer>1</integer>
		<key>VideoTargetSize</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>1</integer>
		<key>VideoTwoPass</key>
		<integer>1</integer>
		<key>x264Option</key>
		<string>ref=3:mixed-refs:bframes=6:bime:weightb:direct=auto:b-pyramid:me=umh:subme=6:analyse=all:8x8dct:trellis=1:nr=150:no-fast-pskip</string>
	</dict>
</array>
</plist>
